In [1]:
import numpy as np
import pandas as pd

In [3]:
slit_pos_df = pd.read_excel("../../sav/Koutchmy_Digitize/slit_pos.xlsx",sheet_name="slit_pos")
slit_pos_df

   description            x            y
0   slit1_left   813.629477  1155.685950
1  slit1_right   846.838843  1155.685950
2   slit4_left   933.183196  1145.723140
3  slit4_right  1032.811295  1159.006887
4  disk_center  1338.337466  1155.685950
5  disk_bottom  1341.658402   607.731405
6     disk_top  1351.621212  1703.640496

In [7]:
rsun1 = np.sqrt((slit_pos_df["x"][5]-slit_pos_df["x"][4])**2 + (slit_pos_df["y"][5]-slit_pos_df["y"][4])**2)
rsun1

547.9646088064958

In [8]:
rsun2 = np.sqrt((slit_pos_df["x"][6]-slit_pos_df["x"][4])**2 + (slit_pos_df["y"][6]-slit_pos_df["y"][4])**2)
rsun2

548.1155369143153

In [10]:
rsun_aver = (rsun1 + rsun2)/2.
rsun_aver

548.0400728604055

In [11]:
slit4_center_x = (slit_pos_df["x"][2]+slit_pos_df["x"][3])/2.
slit4_center_x

982.997245179063

In [13]:
slit4_to_ds = (slit_pos_df["x"][4] - slit4_center_x )/rsun_aver*950.
slit4_to_ds

615.9644633365505

In [14]:
slit1_center_x = (slit_pos_df["x"][0]+slit_pos_df["x"][1])/2.
slit1_center_x

830.234159779614

In [15]:
slit1_to_ds = (slit_pos_df["x"][4] - slit1_center_x)/rsun_aver*950.
slit1_to_ds

880.7716157989987

In [30]:
def solve_slit_start_end(theta, R1, d, l):
    k = 1./np.tan(np.deg2rad(theta))
    x0 = -d*np.cos(np.deg2rad(theta))
    y0 = d*np.sin(np.deg2rad(theta))

    A = 1 + k**2
    B = 2*k*y0 - 2*k**2*x0
    C = k**2*x0**2 - 2*k*x0*y0 + y0**2 - R1**2

    x_start = ((- B - np.sqrt(B**2 - 4*A*C))/2/A)
    y_start = k*(x_start - x0) + y0

    x_end = x_start - l*np.sin(np.deg2rad(theta))
    y_end = y_start - l*np.cos(np.deg2rad(theta))

    return x_start, y_start, x_end, y_end

In [35]:
solve_slit_start_end(35.5,1.03*950.,slit1_to_ds,0.8*950.)

(-964.5843851849683,
 164.43604792543664,
 -1405.9186315252825,
 -454.29174602536597)

In [37]:
solve_slit_start_end(35.5,1.03*950.,slit4_to_ds,0.6*950.)

(-942.972371286097,
 -261.27639960600186,
 -1273.9730560413327,
 -725.3222450691038)